[init]
	defaultBranch = main
[user]
	name = Evie Gauthier
	email = evie@gauthier.id
	signingkey = /home/vscode/.ssh/git_signing_key.pub
[github]
	user = Just-Insane
[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	light = false
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autosquash = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/vscode/.ssh/allowed_signers
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
