tap "cloudflare/cloudflare"
tap "elastic/tap"
tap "hashicorp/tap"
tap "homebrew/aliases"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/test-bot"
tap "hudochenkov/sshpass"
tap "jakehilborn/jakehilborn"
tap "johanhaleby/kubetail"
tap "koekeishiya/formulae"
tap "rigellute/tap"
tap "theseal/ssh-askpass"
brew "adns"
brew "gdbm"
brew "libyaml"
brew "sqlite"
brew "xz"
brew "python@3.9"
brew "ansible"
brew "ansifilter"
brew "aom"
brew "asciinema"
brew "bash"
brew "bdw-gc"
brew "node"
brew "bitwarden-cli"
brew "boost"
brew "brew-gem"
brew "libpng"
brew "freetype"
brew "fontconfig"
brew "gettext"
brew "pcre"
brew "glib"
brew "pkg-config"
brew "lzo"
brew "pixman"
brew "cairo"
brew "chezmoi"
brew "consul"
brew "coreutils"
brew "dav1d"
brew "dbus", restart_service: true
brew "docbook"
brew "docbook-xsl"
brew "docker", link: false
brew "doctl"
brew "dyld-headers"
brew "elm"
brew "giflib"
brew "jpeg"
brew "libtiff"
brew "imlib2"
brew "libexif"
brew "feh"
brew "libogg"
brew "flac"
brew "frei0r"
brew "fribidi"
brew "gmp"
brew "libtool"
brew "libunistring"
brew "guile"
brew "libevent"
brew "libidn2"
brew "libtasn1"
brew "nettle"
brew "p11-kit"
brew "unbound"
brew "gnutls"
brew "gobject-introspection"
brew "graphite2"
brew "harfbuzz"
brew "lame"
brew "little-cms2"
brew "openjpeg"
brew "webp"
brew "leptonica"
brew "libass"
brew "libbluray"
brew "libvorbis"
brew "opus"
brew "libsndfile"
brew "libsamplerate"
brew "libsoxr"
brew "libvidstab"
brew "libvpx"
brew "opencore-amr"
brew "rav1e"
brew "rubberband"
brew "sdl2"
brew "snappy"
brew "speex"
brew "srt"
brew "tesseract"
brew "theora"
brew "x264"
brew "x265"
brew "xvid"
brew "zimg"
brew "ffmpeg"
brew "fmt"
brew "fortune"
brew "fpp"
brew "fzf"
brew "isl"
brew "mpfr"
brew "libmpc"
brew "gcc"
brew "gdb"
brew "ghostscript"
brew "pcre2"
brew "git"
brew "gnu-getopt"
brew "libgpg-error"
brew "libassuan"
brew "libgcrypt"
brew "libksba"
brew "libusb"
brew "npth"
brew "pinentry"
brew "gnupg", link: false
brew "go"
brew "gpac"
brew "graphviz"
brew "grex"
brew "helm"
brew "hidapi"
brew "lua"
brew "highlight"
brew "hopenpgp-tools"
brew "ncurses"
brew "htop"
brew "httpie"
brew "hugo"
brew "ilmbase", link: true
brew "libde265"
brew "xmlto"
brew "shared-mime-info"
brew "libheif"
brew "python@3.8"
brew "liblqr"
brew "libomp"
brew "openexr", link: false
brew "imagemagick"
brew "oniguruma"
brew "jq"
brew "json-c"
brew "kubernetes-cli"
brew "libb2"
brew "lz4"
brew "zstd"
brew "libarchive"
brew "libebml"
brew "libmagic"
brew "libmatroska"
brew "libu2f-host"
brew "libyubikey"
brew "lolcat"
brew "lua@5.1"
brew "mas"
brew "mkvtoolnix"
brew "protobuf"
brew "mosh"
brew "mujs"
brew "uchardet"
brew "vapoursynth"
brew "youtube-dl"
brew "mpv"
brew "screenresolution"
brew "neofetch"
brew "node@10"
brew "nomad"
brew "openjdk"
brew "pandoc"
brew "perl"
brew "pinentry-mac"
brew "portaudio"
brew "postgresql"
brew "pulumi"
brew "reattach-to-user-namespace"
brew "rke"
brew "rtmpdump"
brew "ruby"
brew "sbt"
brew "speedtest-cli"
brew "swig"
brew "task"
brew "telnet"
brew "terraform"
brew "thefuck"
brew "timewarrior"
brew "utf8proc"
brew "tmux"
brew "traefik"
brew "trash"
brew "tree"
brew "urlview"
brew "vale"
brew "vault"
brew "vim"
brew "w3m"
brew "wakeonlan"
brew "wget"
brew "yarn"
brew "ykman"
brew "ykpers"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "cloudflare/cloudflare/cloudflared"
brew "elastic/tap/elasticsearch-full"
brew "elastic/tap/kibana-full"
brew "hashicorp/tap/boundary", link: false
brew "hudochenkov/sshpass/sshpass"
brew "jakehilborn/jakehilborn/displayplacer"
brew "johanhaleby/kubetail/kubetail"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
brew "rigellute/tap/spotify-tui"
brew "theseal/ssh-askpass/ssh-askpass"
cask "amethyst"
cask "authy"
cask "blackhole-2ch"
cask "cscreen"
cask "discord"
cask "docker"
cask "firefox"
cask "font-fira-code"
cask "font-fontawesome"
cask "gitkraken"
cask "google-chrome"
cask "gpg-suite"
cask "hashicorp-boundary-desktop"
cask "keybase"
cask "mactex"
cask "postman"
cask "powershell"
cask "qlcolorcode"
cask "qlimagesize"
cask "qlmarkdown"
cask "qlstephen"
cask "qlvideo"
cask "quicklook-json"
cask "quicklookase"
cask "spotify"
cask "vlc"
mas "AdGuard for Safari", id: 1440147259
mas "Amphetamine", id: 937984704
mas "Apple Configurator 2", id: 1037126344
mas "Bear", id: 1091189122
mas "BetterSnapTool", id: 417375580
mas "Bitwarden", id: 1352778147
mas "Canary Mail", id: 1236045954
mas "DaisyDisk", id: 411643860
mas "Dark Reader for Safari", id: 1438243180
mas "DuckDuckGo Privacy Essentials", id: 1482920575
mas "Grammarly for Safari", id: 1462114288
mas "Jayson", id: 1468691718
mas "Microsoft Remote Desktop", id: 1295203466
mas "News Explorer", id: 1032670789
mas "Noted", id: 1446580517
mas "Parcel", id: 639968404
mas "PlayOff", id: 1454620165
mas "Save to Pocket", id: 1477385213
mas "Screens", id: 1224268771
mas "Simple Refresh", id: 1492951704
mas "Turn Off the Lights for Safari", id: 1273998507
mas "Wallpaper App", id: 1518228413
mas "Xcode", id: 497799835
