{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install or Update Brew

which -s brew
if [[ $? != 0 ]] ; then
    # Install Homebrew
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    brew update
fi

brew install bitwarden-cli || true
brew install gnupg || true
brew link --overwrite gnupg || true
brew install pinentry-mac || true
brew install --cask iterm2 || true

# Install Oh-My-ZSH
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
{{ end -}}
