{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install Brew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file={{ .chezmoi.sourceDir }}/Brewfile.local
{{ end -}}
