#!/bin/sh

bw get attachment config --itemid 638a2ab7-676a-44ca-9f3e-ad2a015b3687 --output {{ .chezmoi.homedir }}/.kube/config
bw get attachment config --itemid 63034bd8-af02-4283-8867-ad2a0163de2f --output {{ .chezmoi.homedir }}/.ssh/config